//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.header {
    position: fixed;
    width: 100%;
    padding: 20px;

    @media screen and (min-width: 768px) {
        padding: 30px 36px;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__ttl {
        width: 24%;

        @media screen and (min-width: 768px) {
            width: 28%;
        }

        @media screen and (min-width: 1024px) {
            
        }
    }

    &__logoLink {
        display: block;
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
