//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 60%;

    @media screen and (min-width: 1024px) {
        width: auto;
    }

    &__link {
        display: block;
        padding: 1px 8px;
        font-size: 10px;
        font-weight: 400;
        background: $navy;
        color: $white;
        text-decoration: none;

        @media screen and (min-width: 768px) {
            padding: 4px 18px;
            font-size: 14px;
        }

        @media screen and (min-width: 1024px) {
            padding: 7px 28px;
            font-size: 16px;
        }
    }
}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    z-index: 1;

    &:hover {
        cursor: pointer;
    }

    @media screen and (min-width: 1024px) {
        display: none;
    }

    &__top {
        @include menubtn(-10px)
    }

    &__middle {
        @include menubtn
    }

    &__bottom {
        @include menubtn(10px)
    }
}

.gnav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-left: 40px;
    background: #000000c0;
    border: 10px solid #fff;
    opacity: 0;
    pointer-events: none;
    transition: .4s;

    @media screen and (min-width: 768px) {
        padding-left: 140px;
        border: 16px solid #fff;
    }

    @media screen and (min-width: 1024px) {
        position: absolute;
        top:auto;
        left: auto;
        right: 30%;
        width: auto;
        height: auto;
        padding: 0;
        background: none;
        border: none;
        opacity: 1;
        pointer-events: auto;
    }

    &__nav {
        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: space-around;
        }
    }

    &__list {
        margin: 32px 0;

        @media screen and (min-width: 1024px) {
            position: relative;
            display: flex;
            align-items: center;
            margin: 0 2% 0 0;

            &:nth-child(1) {
                display: none;
            }

            &:nth-child(5) {
                &::after {
                    position: absolute;
                    right: -64px;
                    display: block;
                    content: "";
                    width: 1px;
                    height: 22px;
                    background: $navy;
                }
            }
        }
    }

    &__link {
        display: block;
        color: $white;
        font-size: 20px;
        text-decoration: none;

        @media screen and (min-width: 768px) {
            font-size: 32px;
        }

        @media screen and (min-width: 1024px) {
            padding: 10px 20px;
            color: $navy;
            font-size: 18px;
        }
    }
}