//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#top {
    // mv=============================================
    .mv {
        background: url(../images/mv.jpg) center center / cover;
        width: 100%;
        height: 100vh;
        margin-bottom: 86px;
        border: 10px solid #fff;
        
        @media screen and (min-width: 768px) {
            margin-bottom: 108px;
            border: 16px solid #fff;
        }
        @media screen and (min-width: 1024px) {
            width: 92%;
            margin: 0 auto 148px;
            border: none;
        }

        &__catch {
            text-align: center;
            margin-bottom: 40px;
            letter-spacing: 0.8em;

            @media screen and (min-width: 768px) {
                margin-bottom: 34px;
                font-size: 26px;
            }
            @media screen and (min-width: 1024px) {
                margin-bottom: 166px;
                font-size: 40px;
            }
        }
    }
    // concept section=============================================
    .concept {
        @include sec__padding-top;
        @include sec__space;

        position: relative;
        margin-bottom: 124px;

        @media screen and (min-width: 768px) {
            padding-bottom: 0px;
            margin-bottom: 192px;
        }
        @media screen and (min-width: 1024px) {
            width: 83%;
            padding-top: 240px;
            padding-bottom: 120px;
            margin-bottom: 230px;
            z-index: 0;
        }
        
        &::before {
            position: absolute;
            top: 62px;
            left: 0;
            content: "";
            background: $gray;
            width: 100%;
            height: 100%;
            z-index: -1;

            @media screen and (min-width: 768px) {
                top: 96px;
            }
            @media screen and (min-width: 1024px) {
                top: 0;
            }
        }
        
        &__ttl {
            @include sec__ttl-L;
            position: absolute;
            top: 32px;
            left: 10px;

            @media screen and (min-width: 768px) {
                top: 45px;
                left: 80px;
            }
            @media screen and (min-width: 1024px) {
                position: static;
            }
        }

        &__txt {
            margin-bottom: 8px;

            @media screen and (min-width: 768px) {
                margin-bottom: 16px;
            }
            @media screen and (min-width: 1024px) {
                margin-bottom: 40px;
            }

            &:nth-child(2) {
                padding-top: 48px;

                @media screen and (min-width: 768px) {
                    padding-top: 68px;
                }
            }

            &:nth-child(4) {
                margin-bottom: 24px;

                @media screen and (min-width: 768px) {
                    margin-bottom: 36px;
                }
                @media screen and (min-width: 1024px) {
                    margin-bottom: 64px;
                }
            }
        }
        
        // ボタン
        &__btn {
            &:nth-child(5) {
                margin-bottom: 32px;

                @media screen and (min-width: 768px) {
                    margin-bottom: 40px;
                }
                @media screen and (min-width: 1024px) {
                    margin-bottom: 136px;
                }
            }
        }

        &__link {
            @include btn__link;

            &:hover {
                &::after {
                    @include btn__hover-bg
                }
                .concept__letter {
                    @include btn__hover-letter;
                }
                .concept__line,
                .concept__arrow {
                    @include btn__hover-arrow;
                }
            }
        }

        // ボタン内文字
        &__letter {
            @include btn__letter;
        }

        // ボタン内矢印
        &__line {
            @include btn__line
        }
        
        &__arrow {
            @include btn__arrow
        }

        &__pic {
            background: url(../images/concept.jpg) center center / cover;
            width: 100%;
            height: 40vh;
            
            @media screen and (min-width: 768px) {
                height: 40vh;
            }
            @media screen and (min-width: 1024px) {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -20%;
                width: 95%;
                height: 77%;
                z-index: -1;
            }
        }
    }
    // please section=============================================
    .please {
        text-align: center;
        color: $white;
        
        &__bg {
            @include sec__space;
            background: url(../images/please.jpg) center center / cover;
            width: 100%;
            padding-top: 56px;
            padding-bottom: 46px;
            // margin-bottom: 62px;
            
            @media screen and (min-width: 1024px) {
                padding-top: 100px;
                padding-bottom: 120px;
                margin-bottom: 52px;
            }
        }
        
        &__ttl {
            @include sec__ttl-L;
            
            margin-bottom: 28px;
        }
        
        &__txt {
            margin-bottom: 8px;
            
            @media screen and (min-width: 1024px) {
                margin-bottom: 32px;
                letter-spacing: 0.2em;
            }

            &:nth-child(3) {
                margin-bottom: 40px;
                
                @media screen and (min-width: 1024px) {
                    margin-bottom: 88px;
                }
            }
        }
        
        &__br {
            display: none;
            
            @media screen and (min-width: 1024px) {
                display: inline;
            }
            
        }
        
        &__btn {
            display: inline-block;
        }
        
        &__link {
            @include btn__link;
            color: $white;
            font-size: 16px;
            border: none;
            
            @media screen and (min-width: 1024px) {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                font-size: 18px;
            }
            
            &:hover {
                .please__line {
                    right: -20%;
                    @media screen and (min-width: 1024px) {
                        right: -100px;
                    }
                }
                .please__arrow {
                    right: -20%;
                    @media screen and (min-width: 1024px) {
                        right: -84px;
                    }
                }
            }
        }
        
        &__line {
            @include btn__line;
            
            right: -6%;
            background: $white;
            width: 60px;
            
            @media screen and (min-width: 1024px) {
                position: relative;
                top: 0;
                right: -40px;
                width: 80px;
            }
        }
        
        &__arrow {
            @include btn__arrow;
            
            right: -6%;
            background: $white;
            
            @media screen and (min-width: 1024px) {
                position: relative;
                top: 0;
                right: -24px;
            }
        }
    }
    // service section=============================================
    .service {
        @include sec__space;
        @include sec__padding-top;

        margin-bottom: 68px;

        &__ttl {
            @include sec__ttl-L;

            text-align: center;
            margin-bottom: 28px;

            @media screen and (min-width: 1024px) {
                margin-bottom: 60px;
            }

        }

        &__container {
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;

            @media screen and (min-width: 1024px) {
                margin-bottom: 160px;
            }
            
            // SP/Tab版：2段目のpicとboxを入れ替え
            &:nth-child(3) .service__box {
                order: 1;
                @media screen and (min-width: 1024px) {
                    order: initial;
                }
            }

            @media screen and (min-width: 1024px) {
                flex-direction: row;
                align-items: center;
                gap: 6.3%;
                // PC版：1,3段目のレイアウト
                &:nth-child(even) .service__box {
                    margin-right: auto;
                }
                // PC版：2段目のレイアウト
                &:nth-child(3) .service__box {
                    margin-left: auto;
                }
            }

        }
        &__box {
            @media screen and (min-width: 1024px) {
                width: 35%;
            }
        }

        &__pic {
            margin-bottom: 20px;

            @media screen and (min-width: 1024px) {
                width: 50%;
            }
        }

        &__img {
            display: block;
            width: 100%;
            height: 100%;
        }

        &__menu {
            margin-bottom: 10px;
            font-size: 22px;
            letter-spacing: 0.16em;
            line-height: 1;
            opacity: .8;
        
            @media screen and (min-width: 1024px) {
                font-size: 54px;
                margin-bottom: 28px;
            }
        }

        &__txt {
            margin-bottom: 24px;
            @media screen and (min-width: 1024px) {
                margin-bottom: 28px;
            }
        }

        // ボタン設定
        &__link {
            @include btn__link;

            @media screen and (min-width: 1024px) {
                width: 100%;
                max-width: 312px;
                padding: 0;
            }

            &:hover {
                &::after {
                    @include btn__hover-bg
                }
                .service__letter {
                    @include btn__hover-letter;
                }
                .service__line,
                .service__arrow {
                    @include btn__hover-arrow;
                }
            }
        }

        // ボタン内文字
        &__letter {
            @include btn__letter;

            @media screen and (min-width: 1024px) {
                margin-left: 35px;
            }
        }

        // ボタン内矢印
        &__line {
            @include btn__line
        }
        
        &__arrow {
            @include btn__arrow
        }
    }
    // info section=============================================
    .info {
        @include sec__padding-top;
        @include sec__space;
        
        padding-bottom: 72px;
        margin-bottom: 68px;
        color: $white;
        background: rgba(80, 80, 150, 0.5);
        
        @media screen and (min-width: 768px) {
            padding-bottom: 108px;
        }

        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: center;
            margin-bottom: 178px;
            padding-left: 80px;
            padding-right: 80px;
        }
        @media screen and (min-width: 1320px) {
            padding-left: 160px;
            padding-right: 160px;
        }
        
        &__container {
            @media screen and (min-width: 1024px) {
                display: flex;
                justify-content: space-between;
                width: 80%;
            }
        }
        
        &__pic {
            @media screen and (min-width: 1024px) {
                background: url(../images/info.jpg) center center / cover no-repeat;
                width: 39%;
            }
        }
        
        &__box {
            @media screen and (min-width: 1024px) {
                width: 53%;
            }
            
        }
        
        &__ttl {
            margin-bottom: 28px;
            font-size: 22px;
            letter-spacing: 0.16em;
            line-height: 1;
            
            @media screen and (min-width: 768px) {
                margin-bottom: 48px;
            }
            
            @media screen and (min-width: 1024px) {
                font-size: 44px;
            }
            @media screen and (min-width: 1320px) {
                font-size: 54px;
            }
        }
        
        &__info {
            margin-bottom: 28px;

            @media screen and (min-width: 768px) {
                margin-bottom: 40px;
            }
            @media screen and (min-width: 1024px) {
                margin-bottom: 60px;
            }
        }
        
        &__unit {
            display: flex;
            gap: 26px;
            padding: 16px;
            
            @media screen and (min-width: 1024px) {
                padding: 24px 0;
            }
        }
        
        &__link-info {
            position: relative;
            padding: 10px 0;
            color: $white;
            text-decoration: none;
            transition: color 0.3s ease;
            
            &::before {
                position: absolute;
                top: 0px;
                left: 0;
                content: "";
                width: 100%;
                height: 1px;
                background: $white;
            }

            &:last-child {
                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: "";
                    width: 100%;
                    height: 1px;
                    background: $white;
                }
            }

            &:hover {
                color: $navy;
            }
        }
        
        // ボタン設定
        &__link {
            @include btn__link;
            
            background: $white;
            border: none;
            
            @media screen and (min-width: 1024px) {
                width: 100%;
                max-width: 312px;
                padding: 0;
            }
            
            &:hover {
                &::after {
                    @include btn__hover-bg
                }
                .info__letter {
                    @include btn__hover-letter;
                }
                .info__line,
                .info__arrow {
                    @include btn__hover-arrow;
                }
            }
        }
        
        // ボタン内文字
        &__letter {
            @include btn__letter;
            
            @media screen and (min-width: 1024px) {
                margin-left: 35px;
            }
        }
        
        // ボタン内矢印
        &__line {
            @include btn__line
        }
        
        &__arrow {
            @include btn__arrow
        }
        
    }
    
    // instagram section=============================================
    .insta {
        margin-bottom: 68px;

        @media screen and (min-width: 1024px) {
            margin-bottom: 204px;
        }
        
        &__ttl {
            text-align: center;
            margin-bottom: 28px;
            font-size: 22px;
            letter-spacing: 0.16em;
            line-height: 1;
            opacity: 0.8;
        
            @media screen and (min-width: 768px) {
                margin-bottom: 48px;
            }
            @media screen and (min-width: 1024px) {
                margin-bottom: 56px;
                font-size: 54px;
            }
        }

        // ボタン設定
        &__btn {
            text-align: center;
            @media screen and (min-width: 1024px) {
                text-align: unset;
                width: 314px;
                margin: 0 auto;
            }
        }

        &__link {
            @include btn__link;

            @media screen and (min-width: 1024px) {
                width: 100%;
                max-width: 312px;
                padding: 0;
            }

            &:hover {
                &::after {
                    @include btn__hover-bg
                }
                .insta__letter {
                    @include btn__hover-letter;
                }
                .insta__line,
                .insta__arrow {
                    @include btn__hover-arrow;
                }
            }
        }

        // ボタン内文字
        &__letter {
            @include btn__letter;

            @media screen and (min-width: 1024px) {
                margin-left: 35px;
            }
        }

        // ボタン内矢印
        &__line {
            @include btn__line
        }
        
        &__arrow {
            @include btn__arrow
        }
    }

    // スワイパー
    .swiper-insta {
        margin-bottom: 28px;

        @media screen and (min-width: 768px) {
            margin-bottom: 52px;
        }
        @media screen and (min-width: 768px) {
            margin-bottom: 60px;
        }
    }
}

