// settingフォルダの変数を読み込みます

@use "../setting" as *;

//ハンバーガーメニュー
@mixin menubtn ($translate: 0){
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: $navy;
    transform: translateY($translate);
    transition: .4s;
}
//セクション余白
@mixin sec__padding-top {
    padding-top: 62px;
    @media screen and (min-width: 768px) {
        padding-top: 108px;
    }

}
@mixin sec__space {
    padding-left: 10px;
    padding-right: 10px;
    @media screen and (min-width: 768px) {
        padding-left: 80px;
        padding-right: 80px;
    }
    @media screen and (min-width: 1024px) {
        padding-left: 160px;
        padding-right: 160px;
    }
}
// セクションタイトル大
@mixin sec__ttl-L {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 0.16em;
    line-height: 1.4;
    opacity: .8;
    @media screen and (min-width: 768px) {
        font-size: 60px;
    }
    @media screen and (min-width: 1024px) {
        font-size: 100px;
    }
}

// ボタン部品========================================
@mixin btn__link {
    position: relative;
    display: inline-block;
    height: 56px;
    padding: 0 70px 0 20px;
    color: $navy;  
    border: 1px solid;
    line-height: 56px;
    text-decoration: none;
    @media screen and (min-width: 1024px) {
        height: 80px;
        padding: 0 188px 0 35px;
        line-height: 80px;
    }
    // ボタンのbgスライド要素
    &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        left: auto;
        content: "";
        height: 100%;
        width: 0;
        background: $navy;
        transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
}
// ホバー設定背景
@mixin btn__hover-bg {
    width: 100%;
    left: 0;
    right: auto;
}
// ホバー設定矢印
@mixin btn__hover-arrow {
    right: -40%;
    background: $white;
    z-index: 1;
    @media screen and (min-width: 1024px) {
        right: -10%;
    }
}
// ホバー設定文字
@mixin btn__hover-letter {
    color: $white;
}

// ボタン内文字
@mixin btn__letter {
    position: relative;
    font-size: 16px;
    transform-origin: center left;
    transition: color 0.3s ease;
    z-index: 1;

    @media screen and (min-width: 1024px) {
        font-size: 18px;
    }
}
// ボタン内矢印
@mixin btn__line {
    position: absolute;
    top: 50%;
    right: -26%;
    display: block;
    width: 100px;
    height: 1px;
    background: $navy;
    transition: all .3s ease;

    @media screen and (min-width: 1024px) {
        right: 17%;
        width: 80px;
    }
}
@mixin btn__arrow {
    position: absolute;
    top: 50%;
    right: -26%;
    display: block;
    width: 16px;
    height: 1px;
    background: $navy;
    transform: rotate(30deg) translateY(-4px) translateX(-1px);
    transition: all .3s ease;

    @media screen and (min-width: 1024px) {
        right: 17%;
    }
}

// service section==========================================

